<section class="view">
	<header>
		<h1>SAMURAI UI</h1>

		<p>version 0.1.2.beta-3</p>
	</header>

	<main>
		<nav>
			<menu>
				<li routerLink="/button" routerLinkActive="active">Button</li>

				<li routerLink="/radial-menu" routerLinkActive="active">Radial Menu</li>
			</menu>
		</nav>

		<div class="components">
			<div class="component">
				<router-outlet></router-outlet>
			</div>
		</div>
	</main>

	<footer>
		<div class="link">
			<div class="icon">
				<img src="assets/github-mark-white.svg" alt="Github Logo" />
			</div>

			<a href="https://github.com/amir141592/Samurai-Project" target="_blank">Github Repository</a>
		</div>

		<div class="link">
			<div class="icon">
				<img src="assets/npm-logo-png-transparent.png" alt="npm package" />
			</div>

			<a href="https://www.npmjs.com/~amir141592" target="_blank">npm Package</a>
		</div>

		<div class="link">
			<div class="icon">
				<img src="assets/amir-allahdadian.jpg" alt="code icon" />
			</div>

			<a href="https://github.com/amir141592" target="_blank">Amir Allahdadian</a>
		</div>
	</footer>
</section>
