<div class="container">
  <div class="variation">
    <h2 class="2xl:text-2xl xl:text-xl lg:text-lg font-medium">Variation</h2>

    <button
      samuraiButton
      class="font-medium"
      [btnAction]="btnAction"
      [backgroundColor]="'#64B5F6'"
      [variation]="'FILLED'"
      [hoverStyle]="'NONE'"
    >
      Filled
    </button>

    <button
      samuraiButton
      class="font-medium"
      [color]="'#9575CD'"
      [borderColor]="'#9575CD'"
      [variation]="'OUTLINED'"
      [hoverStyle]="'NONE'"
    >
      Outlined
    </button>

    <button
      samuraiButton
      class="font-medium"
      [color]="'#F06292'"
      [variation]="'CONTENT_ONLY'"
      [hoverStyle]="'NONE'"
    >
      Content Only
    </button>
  </div>

  <div class="content">
    <h2 class="2xl:text-2xl xl:text-xl lg:text-lg font-medium">Content</h2>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#64B5F6'"
      [variation]="'FILLED'"
      [content]="'TEXT'"
      [hoverStyle]="'NONE'"
    >
      Text
    </button>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#9575CD'"
      [variation]="'FILLED'"
      [content]="'TEXT_ICON'"
      [hoverStyle]="'NONE'"
    >
      Text-Icon
    </button>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#F06292'"
      [variation]="'FILLED'"
      [content]="'ICON'"
      [hoverStyle]="'NONE'"
    >
      Icon
    </button>
  </div>

  <div class="hover-style">
    <h2 class="2xl:text-2xl xl:text-xl lg:text-lg font-medium">Hover Style</h2>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#64B5F6'"
      [hoverStyle]="'LEFT_TO_RIGHT'"
    >
      Left To Right
    </button>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#9575CD'"
      [hoverStyle]="'BOTH_SIDES'"
    >
      Both Sides
    </button>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#F06292'"
      [hoverStyle]="'SHUTTER_UP'"
    >
      Shutter Up
    </button>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#E57373'"
      [hoverStyle]="'SHUTTER_DOWN'"
    >
      Shutter Down
    </button>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#4DD0E1'"
      [hoverStyle]="'GLOW'"
    >
      Glow
    </button>

    <button
      samuraiButton
      class="font-medium"
      [color]="'#FF8A65'"
      [borderColor]="'#FF8A65'"
      [variation]="'OUTLINED'"
      [hoverStyle]="'NEON_BORDER'"
    >
      Neon
    </button>

    <button
      samuraiButton
      class="font-medium"
      [color]="'#DCE775'"
      [hoverColor]="'#000'"
      [borderColor]="'#DCE775'"
      [variation]="'OUTLINED'"
      [hoverStyle]="'FILL'"
    >
      Fill
    </button>
  </div>

  <div class="border-angle">
    <h2 class="2xl:text-2xl xl:text-xl lg:text-lg font-medium">
      Border Radius
    </h2>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#64B5F6'"
      [borderRadius]="'NORMAL'"
      [hoverStyle]="'NONE'"
    >
      Normal
    </button>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#9575CD'"
      [borderRadius]="'ROUND'"
      [hoverStyle]="'NONE'"
    >
      Round
    </button>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#F06292'"
      [borderRadius]="'SHARP'"
      [hoverStyle]="'NONE'"
    >
      Sharp
    </button>
  </div>

  <div class="states">
    <h2 class="2xl:text-2xl xl:text-xl lg:text-lg font-medium">State</h2>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#64B5F6'"
      [state]="'ENABLED'"
      [hoverStyle]="'LEFT_TO_RIGHT'"
      [hoverColor]="'#2196F3'"
    >
      Enabled
    </button>

    <button
      samuraiButton
      class="font-medium"
      [backgroundColor]="'#9575CD'"
      [state]="'DISABLED'"
    >
      Disabled
    </button>
  </div>

  <div class="pre-configured">
    <h2 class="2xl:text-2xl xl:text-xl lg:text-lg font-medium">
      Pre-Styled Text
    </h2>

    <button samuraiButton class="font-medium" preStyled="PRIMARY_TEXT">
      Primary
    </button>

    <button samuraiButton class="font-medium" preStyled="ACCENT_TEXT">
      Accent
    </button>

    <button samuraiButton class="font-medium" preStyled="SUCCESS_TEXT">
      Success
    </button>

    <button samuraiButton class="font-medium" preStyled="WARNING_TEXT">
      Warning
    </button>

    <button samuraiButton class="font-medium" preStyled="DANGER_TEXT">
      Danger
    </button>
  </div>

  <div class="pre-configured">
    <h2 class="2xl:text-2xl xl:text-xl lg:text-lg font-medium">
      Pre-Styled Icon
    </h2>

    <button samuraiButton class="font-medium" preStyled="PRIMARY_ICON">
      test
    </button>

    <button
      samuraiButton
      class="font-medium"
      icon="bookmark_add"
      preStyled="ACCENT_ICON"
    ></button>

    <button
      samuraiButton
      class="font-medium"
      icon="done"
      preStyled="SUCCESS_ICON"
    ></button>

    <button
      samuraiButton
      class="font-medium"
      icon="edit"
      preStyled="WARNING_ICON"
    ></button>

    <button
      samuraiButton
      class="font-medium"
      icon="delete"
      preStyled="DANGER_ICON"
    ></button>
  </div>
</div>
