.container {
	width: 100%;
	padding: 32px;
	display: flex;
	flex-direction: column;
	align-items: center;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(7, 100px);

	& > div {
		border-bottom: 1px solid hsl(0, 0%, 20%);

		&:last-child {
			border-bottom: none;
		}
	}
}

.variation,
.content,
.hover-style,
.border-angle,
.states,
.pre-configured {
	width: 100%;
	height: 100%;
	grid-column: 1 / 9;

	display: grid;
	grid-template-columns: repeat(8, 1fr);
	align-items: center;

	h3 {
		font-size: 1.25vw;
		font-weight: 500;
	}
}
