<div class="container">
	<h2>BUTTON</h2>

	<div class="variation">
		<h3>Variation</h3>

		<samurai-button [variation]="'FILLED'"></samurai-button>

		<samurai-button [variation]="'OUTLINED'"></samurai-button>

		<samurai-button [variation]="'TEXT'"></samurai-button>

		<samurai-button [variation]="'ICON'"></samurai-button>
	</div>

	<div class="content">
		<h3>Content</h3>

		<samurai-button [content]="'TEXT'"></samurai-button>

		<samurai-button [content]="'TEXT_ICON'"></samurai-button>
	</div>

	<div class="hover-style">
		<h3>Hover Styles</h3>

		<samurai-button [hoverStyle]="'LEFT_TO_RIGHT'"></samurai-button>

		<samurai-button [hoverStyle]="'DOOR'"></samurai-button>

		<samurai-button [hoverStyle]="'SHUTTER_UP'"></samurai-button>

		<samurai-button [hoverStyle]="'SHUTTER_DOWN'"></samurai-button>

		<samurai-button [hoverStyle]="'GLOW'"></samurai-button>

		<samurai-button [hoverStyle]="'NEON_BORDER'"></samurai-button>

		<samurai-button [hoverStyle]="'FILL'"></samurai-button>
	</div>

	<div class="border-angle">
		<h3>Border Radius</h3>

		<samurai-button [borderAngle]="'NORMAL'"></samurai-button>

		<samurai-button [borderAngle]="'ROUND'"></samurai-button>

		<samurai-button [borderAngle]="'SHARP'"></samurai-button>
	</div>

	<div class="states">
		<h3>States</h3>

		<samurai-button [state]="'ENABLED'"></samurai-button>

		<samurai-button [state]="'DISABLED'"></samurai-button>
	</div>
</div>
