@import "@material-design-icons/font";

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	color: whitesmoke;
	font-family: "Encode Sans Condensed", sans-serif;
}

html,
body,
app-root {
	display: block;
	height: 100%;
	width: 100%;
}
