@import "@material-design-icons/font";

.samurai-button {
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border: none;
	transition: all 0.4s ease-in;
	z-index: 1;
	background-color: transparent;
	overflow: hidden;
	padding: 4px 16px;
	font-size: 1.25vw;
	cursor: pointer;

	.samurai-before {
		position: absolute;
		z-index: -1;
	}
}

.samurai-text-underline:hover {
	text-decoration: underline;
}

// ? LEFT_TO_RIGHT
.samurai-left-to-right .samurai-before {
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	transition: all 0.2s ease-in;
}

.samurai-left-to-right:hover .samurai-before {
	width: 100%;
}

// ? SHUTTER_UP
.samurai-shutter-up .samurai-before {
	width: 100%;
	height: 0%;
	left: 0;
	top: 0;
	transition: all 0.2s ease-in;
}

.samurai-shutter-up:hover .samurai-before {
	height: 100%;
}

// ? SHUTTER_DOWN
.samurai-shutter-down .samurai-before {
	width: 100%;
	height: 0%;
	left: 0;
	bottom: 0;
	transition: all 0.2s ease-in;
}

.samurai-shutter-down:hover .samurai-before {
	height: 100%;
}

// ? DISABLED
.samurai-disabled {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: hsla(0, 0%, 50%, 0.6);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	color: whitesmoke;
	font-family: "Encode Sans Condensed", sans-serif;
}

html,
body,
app-root {
	display: block;
	height: 100%;
	width: 100%;
}
